.pr-1 {
  text-align: center;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
  padding: 300px;
}

.mainpage {
  background-color: palevioletred;
}

.centertext {
  text-align: left;
}

.emote2 {
  max-width: 220px;
}

.emote3 {
  max-width: 220px;
}

body {
  font-family: monospace;
}
